.body{
    background-image: url('images/fondo.jpg');
    background-size: cover;
}

.logo{
    margin: 0;
    padding: 0;
  height: 100px;
  width: 250px;
}

.as{
    align-self: center;
}

.nav-button{
    color: white;
    font-family: 'Permanent Marker';
    font-size: x-large;
}
.nav-fondo{
    background-color: black;
    position: relative;
    z-index: 2;
}

.inicio{
    color: antiquewhite;
    text-decoration: underline;
}


.opacity::before {    
    content:"";
    background-image: url('images/fondo.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: -362px;
    left: 0px;
    opacity: 0.40;
    z-index: 1;
}

.ancho{
    width: 40%;
    height: auto;
}
.register-btn{
    color: white;
    font-size: large;
    text-align: center;
}

i{
    vertical-align: -webkit-baseline-middle;
    font-size: x-large;
}

.a1{
    margin-top: 2rem;
    position: relative;
    z-index: 2;
}

